.card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: -1px 11px 39px -24px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 11px 39px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 11px 39px -24px rgba(0, 0, 0, 0.75);
  width: 45rem;

  padding: 15px;
}
